pkgbase = qwarp
	pkgdesc = A lightweight, Wayland-native Qt6 wrapper for Cloudflare WARP
	pkgver = 0.8.3
	pkgrel = 1
	url = https://github.com/iashutoshtiwari/qwarp
	arch = x86_64
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = qt6-tools
	depends = python
	depends = python-pyqt6
	depends = cloudflare-warp-bin
	source = qwarp-0.8.3-source.tar.gz::https://github.com/iashutoshtiwari/qwarp/releases/download/v0.8.3/qwarp-0.8.3-source.tar.gz
	sha256sums = 8c1ffeb7b04618ed465393629636118d5c533b9d2432b624f4831397d9371475

pkgname = qwarp
