pkgbase = qwarp
	pkgdesc = A lightweight, Wayland-native Qt6 wrapper for Cloudflare WARP
	pkgver = 0.8.3
	pkgrel = 1
	url = https://github.com/iashutoshtiwari/qwarp
	arch = x86_64
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = qt6-tools
	depends = python
	depends = python-pyqt6
	depends = cloudflare-warp-bin
	source = qwarp-0.8.3-source.tar.gz::https://github.com/iashutoshtiwari/qwarp/releases/download/v0.8.3/qwarp-0.8.3-source.tar.gz
	sha256sums = eb3520613706c2f5573e2782abe66c5ffaa2bd436f019aa07c7441d2d2a9bb3f

pkgname = qwarp
