[Desktop Entry]
Name=QWarp
GenericName=WARP Client GUI
Comment=A lightweight, Wayland-native Qt6 wrapper for Cloudflare WARP
Exec=qwarp
Icon=qwarp
Terminal=false
Type=Application
Categories=Network;Utility;
StartupNotify=true
StartupWMClass=qwarp
Keywords=cloudflare;warp;vpn;dns;network;
