[Desktop Entry]
Name=QWarp
Comment=Unofficial Qt6 GUI for Cloudflare WARP
Exec=qwarp
Icon=network-vpn
Terminal=false
Type=Application
Categories=Network;Utility;
