[Desktop Entry]
Name=QWarp
GenericName=Network Connection Manager
Comment=Desktop interface for Cloudflare WARP on Linux
Exec=qwarp
Icon=qwarp
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true
StartupWMClass=qwarp
Keywords=WARP;Cloudflare;VPN;DNS;network;privacy;
