pkgbase = qwarp
	pkgdesc = Desktop interface for Cloudflare WARP on Linux
	pkgver = 0.10.2
	pkgrel = 1
	url = https://github.com/iashutoshtiwari/qwarp
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = qt6-tools
	depends = python
	depends = python-pyqt6
	depends = cloudflare-warp-bin
	source = qwarp-0.10.2-source.tar.gz::https://github.com/iashutoshtiwari/qwarp/releases/download/v0.10.2/qwarp-0.10.2-source.tar.gz
	sha256sums = 97459fe0532a95836744f39e8b0f9c064678d499026bce7399fed34ce5635573

pkgname = qwarp
